@model Store_Food.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size.SizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color.ColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrandy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrandy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsArriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsArriver)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FoodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
